
/*Div da imagem*/
.img-div{
    display: flex;
	justify-content: center;
	align-items: center;
}

/*Div da arrayimagem*/
.imgarray-div{
    display: flexbox;
	justify-content: center;
	align-items: center;


}

.img-class{
   width: 15%;    /* Set the width to 50% of its parent container */
   height: auto;  /* Maintain aspect ratio */
}

/*Texto da pagina about*/
.about-text{
    text-align: justify;
    color: white;
    padding-right: 280px;
    padding-left: 280px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/*Cor da barra do menu*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #406666;
    padding: 10px 20px;
}

/*Logo do site*/
.logo {
    color: white;
    font-size: 24px;
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0 15px;
}

/*O link do menu*/
.menu a {
    color: white;
    text-decoration: none;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 3px 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #538081;
    }

    .menu.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }
}



.center-btn {
    padding: 10px 20px;
}


h1{
	display: none;
}

/*Cor da pagina*/
body{
	background-color: #445358;
}

main{
	padding-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
	border-radius: 5px;
	outline: none;
	transition: background-color 0.3s;
	transition: border-radius 0.3s;
	background-color: #22336f;
}

.button-red{
	background-color: #c01c28;
	color: white;
}

.button-blue{
	background-color: #1a5fb4;
	color: white;
	border-radius: 5px;
}

.button-blue:hover {
    background-color: darkblue;
}
button:hover {
    background-color: #1d2b5c;
	border-radius: 15px;
}

footer{
	text-align: center;
	padding-top: 10px;
}
