

/*Definições de estilos*/

:root{
    --font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --cor-link: white;
    --cor-hover: pink;
}


/*Reset*/

*{
    box-sizing: border-box;
    outline: none;
}

a{
    color: var(--cor-link);
    text-decoration-line: none;
}

a:hover{
    color: var(--cor-hover);
}

h1{
    display: none;
}

html, body{
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
    font-size: 16px;
}
/*MAIN*/


#main-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 1024px;
    margin: auto;
}

p{
	color: black;
}

body{
	background-color: #ffffff;
}

#shirt-main{
    max-width: 20%;
}
/*MAIN*/


footer p{
	text-align: center;
}



#menu-bar{
    display: flex;
    flex-direction: column;
    background-color: #241f31;
    height: 3.5rem;
}

#settings-logo{
    max-height: 50%;
    max-width: 50%;
    padding-top: 0.8rem;
}

#img-logo{
    max-width: 70%;
    max-height: 70%;
    padding-top: 0.5rem;
}

#menu-bar-div{
    margin-left: auto;
}

#user-logo{
    max-width: 50%;
    max-height: 50%;
    padding-top: 0.5rem;
}

/*Dropdown*/
/* Basic styling for the dropdown */
        


        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }
        

         .carrinhoDropdown {
            position: relative;
            display: inline-block;
        }

        .carrinho-dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .carrinho-dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .carrinho-dropdown-content a:hover {
            background-color: #f1f1f1;
        }


        .show {
            display: block;
        }

        .hide{
            display: block;
        }

/*Dropdown*/

.menu-link{
    padding-right: 1rem;
}

nav {
    display: flex;
}


nav a:last-child {
    margin-left: auto;
}

